/*
 * SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-License-Identifier: LicenseRef-ONF-Member-Only-1.0
 */

@mixin icon-background ($icon-url){
	background-image : url($icon-url);

}

@mixin icon-shape ($size, $padding, $border-radius) {
	height: $size;
	width: $size;
	padding: $padding;
	border-radius: $border-radius;
	display: inline-table;
}