/*
 * SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-License-Identifier: LicenseRef-ONF-Member-Only-1.0
 */

@import "variables";

// BootstrapTable
.react-bs-table-container {
  td {
    outline: none;
  }

  &.row-clickable table {
    > tbody > tr {
      cursor: pointer;

      &:hover {
        background-color: $table-hover-color;
      }
    }
  }
}
