# SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0
# 

openapi: 3.0.0
info:
  contact:
    name: ONF
    url: http://opennetworking.org
  description: APIs to configure connectivity service in Aether Network
  title: Connectivity Service Configuration
  version: 1.0.0
servers:
- url: http://connectivity-config:8080
paths:
  /device-group/{group-name}:
    description: Add IMSIs to the group
    patch:
      parameters:
      - explode: false
        in: path
        name: group-name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/imsis'
      responses:
        "200":
          description: Additional IMSIs in the existing group
    post:
      parameters:
      - explode: false
        in: path
        name: group-name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device-groups'
      responses:
        "200":
          description: IMSIs successfully added to group
  /network-slice/{slice-name}:
    delete:
      description: delete network slice information
      parameters:
      - explode: false
        in: path
        name: slice-name
        required: true
        schema:
          example: slice1
          type: string
        style: simple
      responses:
        "200":
          description: successfully created network slice
    description: create network slice
    post:
      description: Configure network slice
      parameters:
      - explode: false
        in: path
        name: slice-name
        required: true
        schema:
          example: slice1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/slice'
      responses:
        "201":
          description: successfully created network slice
    put:
      description: Update network slice information
      parameters:
      - explode: false
        in: path
        name: slice-name
        required: true
        schema:
          example: slice1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/slice'
      responses:
        "201":
          description: successfully created network slice
components:
  schemas:
    imsis:
      items:
        example: "123456789123456"
        type: string
      type: array
    device-groups:
      properties:
        imsis:
          items:
            example: "123456789123456"
            type: string
          type: array
        site-info:
          example: menlo..add site info
          type: string
        ip-domain-name:
          example: pool1
          type: string
        ip-domain-expanded:
          $ref: '#/components/schemas/device_groups_ip_domain_expanded'
      type: object
    slice:
      properties:
        slice-name:
          description: Slice name (taken from path parameter)
          example: slice1
          type: string
        slice-id:
          $ref: '#/components/schemas/slice_slice_id'
        site-device-group:
          items:
            description: Name of the device group which is added in this slice
            example: iot-camera
            type: string
          type: array
        site-info:
          $ref: '#/components/schemas/slice_site_info'
        application-filtering-rules:
          items:
            $ref: '#/components/schemas/slice_application_filtering_rules'
          type: array
      required:
        - slice-id
        - site-device-group
        - site-info
      type: object
    device_groups_ip_domain_expanded:
      description: This is APN for device
      properties:
        dnn:
          example: internet
          type: string
        ue-ip-pool:
          example: 10.91.0.0/16
          type: string
        dns-primary:
          example: 8.8.8.8
          type: string
        dns-secondary:
          nullable: false
          example: 8.8.4.4
          type: string
        mtu:
          example: 1460
          type: integer
        ue-dnn-qos:
          properties:
            dnn-mbr-uplink:
              description: uplink data rate in bps
              example: 4000000
              type: integer
            dnn-mbr-downlink:
              description: downlink data rate in bps
              example: 20000000
              type: integer
            traffic-class:
              description: QCI/QFI for the traffic
              enum:
              - platinum
              - gold
              - silver
              type: string
          type: object
      type: object
    slice_slice_id:
      properties:
        sst:
          description: Slice Service Type
          example: "1"
          type: string
        sd:
          description: Slice differntiator.
          example: "010203"
          type: string
      type: object
    traffic_class_info:
      description: Traffic class information
      properties:
        name:
          description: Traffic class name
          example: default
          type: string
        qci:
          description: QCI/5QI/QFI
          example: 9
          maximum: 9
          minimum: 1
          type: integer
        arp:
          description: Traffic class priority
          example: 8
          maximum: 15
          minimum: 1
          type: integer
        pdb:
          description: Packet Delay Budget
          example: 100
          minimum: 0
          type: integer
        pelr:
          description: Packet Error Loss Rate
          example: 6
          maximum: 8
          minimum: 1
          type: integer
      required:
        - name
        - qci
        - arp
        - pdb
        - pelr
      type: object
    slice_application_filtering_rules:
      description: Application filtering rule
      properties:
        rule-name:
          description: Rule name
          example: default
          type: string
        priority:
          description: Rule priority
          example: 0
          minimum: 0
          type: integer
        action:
          description: Action
          example: permit
          type: string
        endpoint:
          description: Application destination IP or network
          example: any
          type: string
        protocol:
          description: Protocol number (0 means any)
          example: 0
          minimum: 0
          type: integer
        dest-port-start:
          description: Port range start
          example: 0
          maximum: 65535
          minimum: 0
          type: integer
        dest-port-end:
          description: Port range end
          example: 65535
          maximum: 65535
          minimum: 0
          type: integer
        app-mbr-uplink:
          example: 0
          minimum: 0
          type: integer
        app-mbr-downlink:
          example: 0
          minimum: 0
          type: integer
        bitrate-unit:
          description: Data rate unit for uplink and downlink
          example: bps
          type: string
        traffic-class:
          $ref: '#/components/schemas/traffic_class_info'
        rule-trigger:
          example: ""
          type: string
      required:
        - rule-name
        - action
        - endpoint
        - protocol
        - dest-port-start
        - dest-port-end
        - bitrate-unit
        - traffic-class
      type: object
    slice_site_info_plmn:
      description: Fixed supported plmn at the site.
      properties:
        mcc:
          example: "315"
          type: string
        mnc:
          example: "010"
          type: string
      type: object
    slice_site_info_gNodeBs:
      properties:
        name:
          example: menlo-gnb1
          type: string
        tac:
          description: unique tac per gNB. This should match gNB configuration.
          example: 1
        required:
          - name
          - tac
          type: integer
      type: object
    slice_site_info:
      description: give details of the site where this device group is activated
      properties:
        site-name:
          description: Unique name per Site.
          example: menlo
          type: string
        plmn:
          $ref: '#/components/schemas/slice_site_info_plmn'
        gNodeBs:
          items:
            $ref: '#/components/schemas/slice_site_info_gNodeBs'
          type: array
        upf:
          description: UPF which belong to this slice
          properties:
            upf-name:
              example: upf.menlo.aetherproject.org
              type: string
            upf-port:
              example: 8805
              type: integer
      type: object
