# SPDX-FileCopyrightText: 2023 Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0

name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit-test-webconsole:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3

      - name: Run unit tests for webconsole
        run: |
          make test
